 @import "_base", "_variables";

p{
  text-align: center;
}
img{
  width: 100vw;

}
.manga{


.button{
  background-color: #032550;
  height: 366px;
  h1{
    color: white;
    font-size: 40px;
    text-align: center;

    padding-bottom: 5px;
  }
  img{
    width: 30%;
    padding: 30px;
    padding-top: 0;
  }
}
.white{
  width: 80vw;
}
.question{
  width: 60%;
  height: 40%;
}
.achive{
  width: 60%;
}
.grahu{
width: 80%;
}
