body {
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
}

a {
  text-decoration: none;
  line-height: 1.6;
  color: black;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}
