@charset "utf-8";
@import "_base", "_variables";

a:hover{
  opacity: .7;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body{
    display: flex;
    min-height: 100vh;
}
.row-inner {
  display: table-row;
}
body[class*=vmenu-]:not(.menu-overlay):not(.menu-offcanvas) .logo-container {
  padding: 36px 54px 0px 54px;
}

.logo-image{
  text-align: center;
  padding: 36px 54px 0px 54px;
}
* {
.logo-container {
text-align: center;
}
// .main-logo {
//   position: relative;
// }
.logo-image {
  display: block;
  position: relative;
}
.logo-image{
text-align: center;
}

.main_wrapper {
  width: 100%;
  height: 100%;
}
.box_container {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  position: relative;
}
.sections_container{
  display: table;
  table-layout: fixed;
  background-color:gainsboro;
}
.header-wrapper {
  display: table;
  table-layout: fixed;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.page-wrapper, .page-body {
  display: table-row;
  width: 100%;
  height: 100%;
}
/* -------------------------------- 
left side bar
-------------------------------- */
.left_side_bar{
  width: 20%;
  background:#FFFFFF;
}
.links{
  padding-top: 211px;
}
.side_links{
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin-bottom: 17px;
}
a {
  color:#707070;
}
a:active {
  color: #707070;
}
@media screen and (max-width: 1024px) { /*ウィンドウ幅が最大1024pxまでの場合に適用*/
  .left_side_bar{
    display: none;
  }
}
/* -------------------------------- 
ハンバーガー
-------------------------------- */
.nav{
  display: none;
}
@media screen and (max-width: 1024px) { /*ウィンドウ幅が最大1024pxまでの場合に適用*/

.nav_toggle {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
}
.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}
.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}
.nav {
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}
.nav{
  display: block;
  background-color: #fff;
  opacity:1;
}
.nav.show {
  opacity: 1;
  visibility: visible;
}
}
/* -------------------------------- 
TOP
-------------------------------- */
.port-cat{
  text-align: center;
  width: 100%;
}
.port_cat_copy{
  max-width: 500px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: #777777;
}
.port_cat_title{
  font-family: garamond-premier-pro-caption, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 1024px) { /*ウィンドウ幅が最大1024pxまでの場合に適用*/
  .port_cat_title{
    font-size: 45px;
  }
}
.port_cat_links{
  margin-top: 20px;
  font-size: 15px;
  color: #303133;
}
.top{
  padding: 72px;
}
@media screen and (max-width: 1024px) { /*ウィンドウ幅が最大1024pxまでの場合に適用*/
  .top{
    padding: 36px;
  }
  .port_cat_links{
    margin-top: 20px;
    font-size: 15px;
    color: #303133;
  }
}

/* header */
/*  main  */
/* footer */
.flex-column{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main{
  background: gainsboro;
  flex-grow: 1;
}

header{
  height: 10%;
  background: powderblue;

}

footer{
  width: 100%;
  background: #293E31;
}

//products_pics
.post_wrapper{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 0px;
  column-gap: 0px;
} 
.item{
  // display: table-cell;
  // height: 100%;
  // position: relative;
  // width: 100%;
}
.on-img {
  position: relative;
}

.img-text {
  position: absolute;
  bottom: 50px;
  width: 100%;
  color: #fff;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
}
.on-img .caption {
	font-size:		130%;
	text-align: 		center;
	padding-top:		120px;
	color:			#fff;
}
.on-img .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.on-img :hover {
	opacity: 1;
}
.postw_rapper .post-body {
  table-layout: fixed;
  width: 100%;
}
// footer
.footer_top{
  text-align: center;
}
.follow-us {
  font-family: garamond-premier-pro-caption, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px !important;
  line-height: 1em;
  color: #fff;
  letter-spacing: 5px;
}
.icon-box.icon-inline {
  display: inline-table;
  table-layout: fixed;
  width: auto;
  text-align: center;
  vertical-align: bottom;
  margin-top: 0px !important;
  padding-left: 9px;
  padding-right: 9px;
}
.style_dark {
  color: #dddddd;
}
}